footer {
	@include bp(max, 750px) {
		.footer {
			padding: 22px 16px;
			&__attack {
				width: 33.036%;
				min-width: 108px;
			}
			&__business {
				min-width: 164px;
				width: 48.8%;
			}
			&__contact {
				min-width: 108px;
				width: 33.036%;
				margin-top: 28px;
			}
			&__follow {
				min-width: 164px;
				width: 48.8%;
				margin-top: 28px;
			}
			&__ttl {
				font-size: 16px;
        margin-bottom: 18px;
			}
			&__item {
				a {
					font-size: 16px;
				}
				& + & {
					 margin-top: 12px;
				}
			}
			&__sns {
				&__icon {
					a {
						&:before {
							height: 33px;
							width: 33px;
						}
					}
					&:nth-child(2) {
						margin-left: 14px;
					}
				}
			}
			&__logo {
				margin-bottom: 17px;
				width: 100%;
				text-align: center;
				img {
					 max-width: 152px;
				}
			}
			&__copyright {
				margin-top: 48px;
				&__txt {
					color: #000;
					font-size: 14px;
					margin: 0;
				}
			}
		}
	}
}