.lifeInforArea {
	@include bp(max, 750px) {
		margin-bottom: 0;
		.mv {
			&__item {
				height: 240px;
				.content {
					width: 100%;
					.tit {
						font-size: 30px;
						@media (max-width: 350px) {
							font-size: 27px;
						}
					}
					.date {
						font-size: 18px;
						margin: 20px 0 0;
					}
					.news {
						max-width: 518px;
						height: 100px;
						line-height: 100px;
						background: #FFCC40;
						text-transform: uppercase;
						font-size: 37px;
						color: #146A9C;
						font-family: 'Montserrat-Medium';
					}
				}
			}
			.swiper-pagination-bullet {
				height: 10px;
				margin: 0 5px;
				width: 10px;
			}
		}
		.life_section {
			.main {
				margin-top: 14px;
				.content {
					max-width: none;
					.info {
						margin-bottom: 20px;
						.box {
							display: flex;
							justify-content: space-between;
    					align-items: center;
    					.tit {
    						color: #000;
    						font-size: 21px;
    						font-family: 'Montserrat-Medium';
    						@media (max-width: 350px) {
									font-size: 16px;
    						}
    					}
							.dropdown {
								font-size: 14px;
								width: 120px;
								select {
									padding: 12px 10px 12px 17px;
									& + i.chevron-down {
										width: 10px;
										height: 6px;
										top: 50%;
										transform: translateY(-50%);
										bottom: auto;
										right: 10px;
										padding-right: 0;
									}
								}
							}
						}
						

						.list {
							margin-top: 15px;
							li.item {
								&__first {
									.image-list {
										.img {
											max-width: none;
											height: 155px !important;
										}
									}
								}
								&:nth-of-type(odd) {
									width: 100%;
									margin: 15px 0 0 0;
								}
								&:nth-of-type(even) {
									width: 100%;
									margin: 15px 0 0 0;
								}
								.image-list {
									position: relative;
									.image-badge {
										line-height: 20px;
										font-size: 14px;
										padding: 0 20px;
									}
									.img {
										height: 155px;
									}
								}
								.content {
									padding: 17px 23px;
									.name {
										font-size: 16px;
										margin-bottom: 10px;
									}
									.cmt {
										span {
											font-size: 14px;
										}
									}
								}
							}
						}
					}
					.see_more {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
