.lifeInforArea {
	margin-bottom: 119px;
	.mv {
		&__item {
			color: #fff;
			height: 600px;
			text-align: center;
			margin: auto;
			position: relative;
			.content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 9;
				.tit {
					font-size: 60px;
					font-family: 'Montserrat-SemiBold';
					line-height: 1;
				}
				.date {
					font-size: 30px;
					font-family: 'Montserrat-Medium';
					line-height: 1;
					margin: 30px 0 40px;
				}
				.news {
					max-width: 518px;
					height: 100px;
					line-height: 100px;
					background: #FFCC40;
					text-transform: uppercase;
					font-size: 37px;
					color: #146A9C;
					font-family: 'Montserrat-Medium';
				}
			}
			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.25);
				z-index: 2;
				top: 0;
				background-repeat: no-repeat;
			}
		}
		.swiper-pagination-bullet {
			border: 2px solid #fff;
			background: none;
			height: 14px;
			margin: 0 10px;
			opacity: 1;
			width: 14px;
		}
		.swiper-pagination-bullet-active {
			background: #fff;
		}
	}
	.life_section {
		.main {
			display: flex;
			.content {
				max-width: 902px;
				width: 100%;
				@media only screen and (max-width: 1200px) {
					max-width: calc(100% - 190px);
				}
				.info {
					margin-bottom: 60px;
					.dropdown {
						color: #11689B;
						display: inline-block;
						font-size: 14px;
						font-weight: bold;
						text-align: left;
						transition: all .5s ease;
						width: 210px;
						position: relative;
						select {
							border: 1px solid #ccc;
							border-radius: 4px;
							color: #11689B;
							font-weight: bold;
							background-color:#fff;
							width:100%;
							cursor: pointer;
							display: block;
							font-size: 14px;
							line-height: 1;
							padding: 8px 11px 8px 25px;
							-webkit-appearance: none;
							-moz-appearance: none;
							-o-appearance: none;
							appearance: none;
							&.icondown {
								-webkit-appearance: none;
								-moz-appearance: none;
								-o-appearance: none;
								appearance: none;
							}
							& + i.chevron-down {
								content: "";
								background: url("../images/icon/chevron-down.png") no-repeat;
								width: 10px;
								height: 10px;
								position: absolute;
								bottom: 8px;
								right: 10px;
								pointer-events: none;
								background-color: #fff;
								padding-right: 5px;
							}
						}
					}

					.list {
						margin-top: 15px;
						display: flex;
						flex-wrap: wrap;
						li.item {
							&__first {
								width: 100%!important;
								margin: 0!important;
								.image-list {
									.img {
										max-width: 902px !important;
										height: 358px !important;
										img {
											width: 100%;
										}
									}
								}
							}
							&:first-child {
								width: 100%;
							}
							&:nth-of-type(odd) {
								width: calc((100% - 30px) / 2);
								margin-top: 30px;
								margin-left: 15px;
							}
							&:nth-of-type(even) {
								width: calc((100% - 30px) / 2);
								margin-top: 30px;
								margin-right: 15px;
							}
							.image-list {
								position: relative;
								.image-badge {
									line-height: 18px;
									background: #ED2027;
									color: #fff;
									font-size: 14px;
									left: 0;
									position: absolute;
									top: 0;
									transition: all .3s;
									padding: 4px 20px;
								}
								.img {
									height: 132px;
									img {
										width: 100%;
									}
								}
							}
							.content {
								padding: 11.5px 20px;
								border: 1px solid #ACACAC;
								border-top: 0;
								max-width: 100%;
								.name {
									font-size: 21px;
									line-height: 1.3;
									color: #11689B;
									margin-bottom: 0; 
									display: block;
									white-space: nowrap;
									width: 100%;
									text-overflow: ellipsis;
									overflow: hidden;
									font-family: 'Montserrat-SemiBold';
								}
								.cmt {
									span {
										line-height: 1;
										font-size: 14px;
										color: #656565;
									}
									.likes {
										margin-left: 20px;
										position: relative;
										&:before {
											content: "";
											background: #656565;
											left: -10px;
											position: absolute;
											top: 0;
											transition: all .3s;
											width: 1px;
											height: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
